.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

header h2 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}

header .collumn {
  display: flex;
  align-items: center;
}

header .collumn span {
  font-weight: 700;
  margin-right: 15px;
  font-size: 2rem;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}

.volume-slider input {
  accent-color: #deb887;
}

.keys-check input {
  width: 60px;
  height: 30px;
  appearance: none;
  border-radius: 30px;
  background-color: #deb887;
  cursor: pointer;
  position: relative;
}

.keys-check input::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: inherit;
  background-color: #5a3e36;
  top: 50%;
  left: 0.3rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.keys-check input:checked::before {
  left: 2.1rem;
  transform: translateY(-50%);
  background-color: #b86d45;
}
